@import url("./normalize.css");
@import url("./header.css");
@import url("./main.css");
@import url("./footer.css");

@font-face {
    font-family: Rubik;
    src: url("../fonts/Rubik-Regular.ttf");
}
@font-face {
    font-family: Rubik500;
    src: url("../fonts/Rubik-Medium.ttf");
}
@font-face {
    font-family: Rubik600;
    src: url("../fonts/Rubik-SemiBold.ttf");
}
@font-face {
    font-family: Rubik700;
    src: url("../fonts/Rubik-Bold.ttf");
}

:root {
    --desc-color: #4F5665;
    --heading-color: #0B132A;
    --red-color: #F53838;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Rubik;
}

.container {
    max-width: 1180px;
    padding: 0 20px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
}